
body {
    padding-top: 5em;
    background-color: rgb(233, 5, 36);
    white-space: nowrap
}
.cardContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.cardDisplay{
    position: relative;
    flex-direction: column

}
.cardImage{
    
}

.deleteX{
    font-size: 2em;
    position: absolute;
    margin: 1em;
    text-shadow: 2px 2px #FFF

}



.confidantInfoContainer{
    display: flex;
    margin: 1em;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900
}
.confidantName{
    transform: rotate(-5deg);
    position: relative;
    margin: .3em;
    height: 3.5em;
}
.confidantArticle{
    transform: rotate(-3deg);
    position: absolute;
    color: black;
    font-size: 1.1em;
    text-shadow:
        -4px -4px 0 #FFF,  
        2px -4px 0 #FFF,
        -4px 2px 0 #FFF,
        2px 2px 0 #FFF;
    font-style: italic;
    z-index: 1;
    margin-top: .45em;
    margin-left: 1em;
}
.confidantNameBorder{
    position: absolute;
    z-index: -2;
    height: 2em;
    clip-path: polygon(3% 8%, 100% 0, 90% 78%, 6% 72%);
    background-color: white;
    padding: .3em .2em ;
    border: 20px solid white;
}
.confidantNameDisplay{
    margin-top: -.6em;
    justify-content: center;
    text-align: center;
    clip-path: polygon(0 16%, 100% 0, 93% 100%, 2% 88%);
    background-color: black;
    padding: 2px 2em ;
    border: 20px solid black;
    z-index: -1;
    color: white;
    font-style: normal;
    text-transform: capitalize

}
.article{
    font-size: .7em;
    text-transform: uppercase

}
.arcanaInfo{
    position: relative;
    margin-top: 1em;
    margin-left: .5em;
    background-color: black;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    font-style: italic


}
.arcanaBorder{
    position: absolute;
    z-index: -2;
    height: 4em;
    clip-path: polygon(3% 8%, 100% 0, 90% 78%, 6% 72%);
    background-color: #333;
    padding: .3em .2em ;
    border: 20px solid #333;
}
.arcanaInfoDisplay{
    margin-top: -.5em;
    justify-content: center;
    text-align: center;
    clip-path: polygon(0 16%, 100% 0, 93% 100%, 3% 88%);
    background-color: black;
    padding: 2px 2em ;
    border: 20px solid black;
    z-index: -1;
    color: white;
    font-style: normal;
    text-transform: capitalize
}
.confidantTitle{
    color: black;
    font-size: 2em;
    text-shadow:
        -1px -1px 0 rgb(255, 244, 83),  
        2px -1px 0 rgb(255, 244, 83),
        -1px 2px 0 rgb(255, 244, 83),
        2px 2px 0 rgb(255, 244, 83);
    -webkit-text-stroke: 1px rgb(255, 244, 83);
    font-style: normal;
    text-transform: capitalize;
    font-weight: 700;
    margin-left: .3em;
}

.rankInfo{
    display: flex;
    border: .3em solid grey;
    background-color: black;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    font-style: italic


}

.confidantRank{
    color: rgb(255, 244, 83);
    font-size: 2em;
}

.confidantNav{
    width: 240px;
    display: inline-flex;
    justify-content: space-between;

}
.confidantId{
    text-align: center;
    font-size: 3em;
    margin-top: 0em;
}

